.container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h3 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 31px;
}
.form {
  width: 450px;
  height: 550px;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.logo span {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
.logo img {
  width: 100px;
  height: 100px;
}
.form input {
  width: 400px;
  height: 40px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: rgba(40, 40, 40, 0.5);
}
.form button {
  width: 400px;
  height: 45px;
  line-height: 45px;
  background-color: #55a3f0;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}
.form button:hover {
  color: #ffffff;
  background-color: #0262c2;
}
.reglink {
  width: 400px;
  margin-top: 15px;
}
.reglink a {
  text-decoration: none;
  color: #55a3f0;
  cursor: pointer;
}

.error {
  width: 100%;
  height: 20px;
  margin-bottom: 25px;
}
.error p {
  color: #f50c59;
  font-size: 12px;
}
